<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Oracle.ManagedDataAccess" version="19.6.0" targetFramework="net462" />
  <package id="TJERJ.Componentes.DataProtection" version="5.0.1" targetFramework="net462" />
  <package id="TJERJ.Componentes.EstruturaPadrao" version="5.0.0" targetFramework="net462" />
  <package id="TJERJ.Componentes.ServicoDadosODPNETM" version="5.0.9" targetFramework="net462" />
  <package id="TJERJ.Componentes.Utilitarios" version="5.0.0" targetFramework="net462" />
</packages>