@model LED.Entities.DocumentoPortal.DocumentosProcesso
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Documento</title>
</head>
<body>
    <div>
        @Html.DisplayFor(modelItem => Model.integra)
    </div>
</body>
</html>
